.drakgray{
  color:darkgray
}
a.user-name:hover{
  font-style:underline;
}
a.user-name:link{
  color:#995400
}
a.title:hover{
  color:orange
  text-decoration: none;
}
a.title:link{
  color:black
}
.darkorange{
  color:#995400
}
.orange{
  color:orange
}
.left{
  text-align:left !important;
}
.right{
  text-align:right !important;
}
.bold{
  font-weight:bold
}